#bc {
  margin: 0;
  width: 100%;
  clear: both;
/* Class AUX */
}
#bc .container-fluid {
  padding: 0;
}
#bc .loader {
  background: transparent url("../images/ring.svg") center no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
}
#bc #container {
  max-width: 1110px;
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 0;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
}
#bc #header-banner {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#bc #header-banner .row {
  width: 100%;
  margin: 0;
}
#bc #header-banner .row .col-xs-12,
#bc #header-banner .row .col-sm-12,
#bc #header-banner .row .col-md-12,
#bc #header-banner .row .col-lg-12,
#bc #header-banner .row .col-xl-12 {
  padding: 0;
}
#bc .nav {
  width: 100%;
  float: left;
  position: relative;
  z-index: 101;
  margin: 0 auto;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#bc .current-category {
  width: 100%;
  text-align: left;
  color: #fff;
  z-index: 100;
  padding: 0 15px;
  display: none;
  background-color: transparent;
}
#bc .menu {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  font-size: 0;
  padding: 0;
  height: 60px;
  background-color: #fff;
}
#bc .menu li {
  display: inline-block;
  position: relative;
  float: left;
  height: auto;
}
#bc .menu li::after {
  content: '';
  background: #c2c2c2;
  width: 1px;
  height: 26px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#bc .menu li:last-child::after {
  display: none;
}
#bc .menu4 li {
  width: 25%;
}
#bc .menu5 li {
  width: 20%;
}
#bc .menu6 li {
  width: 16.66%;
}
#bc .menu7 li {
  width: 14%;
}
#bc .menu7 li .text {
  font-size: 13px;
}
#bc .menu8 li {
  width: 12.5%;
}
#bc .menu8 li .text {
  font-size: 11.5px;
}
#bc .menu9 li {
  width: 11.11%;
}
#bc .menu9 li .text {
  font-size: 11px;
}
#bc .menu10 li {
  width: 10%;
}
#bc .menu10 li .text {
  font-size: 11px;
}
#bc .menu11 li {
  width: 9.09%;
}
#bc .menu11 li .text {
  font-size: 10.5px;
}
#bc .menu12 li {
  width: 8.33%;
}
#bc .menu12 li .text {
  font-size: 10px;
}
#bc .menu13 li {
  width: 7.69%;
}
#bc .menu13 li .text {
  font-size: 9px;
}
#bc .category {
  padding: 0 15px;
  font-size: 12px;
  height: 60px;
  display: block;
  line-height: 56px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#bc .category .text {
  color: #6a6a6a;
  line-height: 1;
  float: left;
  height: auto;
  text-align: center;
  width: 100%;
  position: relative;
  font-size: 14px;
  margin-bottom: 11px;
  padding: 0 0 9px;
}
#bc .category .text:after {
  content: '';
  border: 1px solid #ffc800;
  width: 74px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#bc .category .one {
  margin-top: 18px;
}
#bc .category .icon {
  display: none;
}
#bc .category:hover li:after {
  display: none;
}
#bc .category:hover .text {
  color: #fff;
}
#bc .category:hover .text:after {
  border-color: #fff;
}
#bc .category.active .text {
  color: #fff;
}
#bc .category:hover,
#bc .category.active {
  background-color: #ffc800;
  color: #fff;
}
#bc .category:hover li::after,
#bc .category.active li::after {
  display: none;
}
#bc .icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  float: left;
  margin-top: 12.5px;
  background-position-y: bottom;
}
#bc #sponsor {
  padding: 0;
  margin: 0 auto;
  position: relative;
  height: 320px;
  background-image: url("../images/sponsor.jpg");
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
}
#bc #sponsor .col-xs-12,
#bc #sponsor .col-sm-12,
#bc #sponsor .col-md-12,
#bc #sponsor .col-lg-12,
#bc #sponsor .col-xl-12 {
  padding: 0;
}
#bc #sponsor-bc {
  width: 100%;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
/* background transparent url(../images/sponsor.jpg) center top no-repeat */
  position: relative;
}
#bc #slider-bc {
  height: 100%;
  width: 590px;
  float: right;
  clear: both;
  margin-bottom: 0 !important;
}
#bc .banner-slider {
  width: 590px;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 34px;
}
#bc .banner-slider .slick-prev {
  width: 30px;
  height: 30px;
}
#bc .banner-slider .slick-prev::before {
  width: 30px;
  height: 30px;
  background-size: contain;
}
#bc .banner-slider .slick-next {
  width: 30px;
  height: 30px;
}
#bc .banner-slider .slick-next::before {
  width: 30px;
  height: 30px;
  background-size: contain;
}
#bc .banner-slider .slick-dots li.slick-active button,
#bc .banner-slider .slick-dots li button:hover,
#bc .banner-slider .slick-dots li button:focus {
  background: #4981c1;
}
#bc .banner-slider .slick-dots li button {
  background: #a7a7a7;
}
#bc .slick-track {
  height: 100%;
}
#bc .item {
  height: 100%;
  width: 590px;
  height: 100%;
  float: left;
  position: relative;
  outline: none;
  text-align: center;
}
#bc .item img {
  height: 100%;
  display: inline-block;
}
#bc .logo-campaign {
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
}
#bc .logo-campaign img {
  margin: 0 auto;
}
#bc .logo-mobile {
  display: none;
}
#bc .logo-desktop {
  display: block;
}
#bc .banner {
  height: 294px;
  width: 1074px;
  margin: 0 auto;
  float: none;
  overflow: hidden;
}
#bc .slide {
  background-color: transparent;
  height: 294px;
  width: 100%;
  float: left;
  font-family: "Open Sans";
}
#bc .slide-note {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
  font-size: 10px;
}
#bc .calls {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
#bc .features {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  z-index: 50;
  background-color: rgba(255,255,255,0.88);
  text-align: center;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  font-family: 'Open Sans', sans-serif;
}
#bc .descripcion {
  font-size: 25px;
  color: #000;
  margin-bottom: 0;
  line-height: 1;
  height: 60px;
}
#bc .descripcion span {
  font-weight: 600;
}
#bc .name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.15;
}
#bc .hasta {
  font-size: 13px;
}
#bc .porcentaje {
  width: 50px;
  margin: 0 auto;
  font-size: 72px;
  color: #101010;
  line-height: 0.75;
  display: table;
}
#bc .porcentaje +.btn-buy {
  margin-top: 10px;
}
#bc .number {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -6px;
  margin-right: 4px;
}
#bc .percent {
  line-height: 29px;
  font-size: 72px;
  display: table-cell;
  vertical-align: bottom;
}
#bc .dscto {
  font-size: 18px;
  margin-top: 0;
  vertical-align: top;
  margin-bottom: -10px;
  font-weight: 600;
}
#bc .antes {
  font-size: 10px;
  margin-bottom: 5px;
  line-height: 1;
}
#bc .cyber {
  color: #df213b;
  font-size: 14px;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
/* border-bottom 1px solid #e02139 */
  display: inline-block;
}
#bc .price {
  color: #df213b;
  font-size: 29px;
  line-height: 1;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-weight: 600;
  position: relative;
}
#bc .price span {
  display: inline-block;
  font-size: 41px;
  line-height: 0.875;
  padding-bottom: 0;
}
#bc .note {
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1;
}
#bc .discount {
  width: 86px;
  height: 86px;
  position: absolute;
  display: table;
  font-family: "Open Sans";
  color: #fff;
}
#bc .percent {
  font-size: 28px;
  line-height: 1;
  display: table-cell;
  vertical-align: bottom;
  width: 40px;
  letter-spacing: -0.75px;
}
#bc .simbol {
  display: table-cell;
  vertical-align: bottom;
  font-size: 20px;
  line-height: 1;
  padding-bottom: 8px;
  text-align: left;
}
#bc .simbol span {
  font-size: 6px;
  display: block;
}
#bc .notas {
  max-width: 1056px;
  margin: 0 auto 10px;
/* padding 25px 0 !important */
  text-align: center;
  float: none;
}
#bc .notes {
  position: relative;
  margin-bottom: 10px;
  height: 22px;
  display: inline-block;
  padding: 0 12px !important;
}
#bc .notes::after {
  content: '';
  height: 20px;
  position: absolute;
  background-color: #b2b2b2;
  right: 0;
  top: 1px;
  width: 1px;
}
#bc .notes:last-child::after {
  display: none;
}
#bc #btn-mobile {
  display: none;
  padding: 12px 10px;
  width: 40px;
  height: 40px;
  top: 5px;
  position: absolute;
  right: 10px;
  z-index: 1001;
  border-radius: 50%;
  outline: none;
  background-color: #000;
}
#bc #btn-mobile span {
  display: block;
  clear: both;
  width: 20px;
  margin: 0 auto 5px;
  background-color: #fff;
  border-radius: 1px;
  display: block;
  height: 2px;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
#bc #btn-mobile::before {
  color: #000;
  content: "Ver categorías >";
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  right: 45px;
  position: absolute;
  top: 12px;
  width: 110px;
  display: block;
  text-align: right;
  -webkit-animation: abefore 3s linear infinite;
          animation: abefore 3s linear infinite;
}
#bc .collapse-movil {
  background-color: #000;
}
#bc .collapse-movil .current-category {
  display: block;
}
#bc .collapse-movil #main-menu {
  margin-top: 0px !important;
}
#bc .collapse-movil #btn-mobile span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(6px) translateX(4px);
          transform: rotate(45deg) translateY(6px) translateX(4px);
}
#bc .collapse-movil #btn-mobile span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-6px) translateX(4px);
          transform: rotate(-45deg) translateY(-6px) translateX(4px);
}
#bc .collapse-movil #btn-mobile span:nth-child(2) {
  opacity: 0;
}
#bc .collapse-movil #btn-mobile::before {
  display: none;
}
#bc .navigate {
  position: fixed;
  top: 0;
  padding: 0;
}
#bc .centerv {
  position: absolute;
  top: 50% !important;
  -webkit-transform: translate(0, -50%) !important;
          transform: translate(0, -50%) !important;
}
#bc .centerh {
  position: absolute;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0) !important;
          transform: translate(-50%, 0) !important;
}
#bc .centervh {
  position: absolute;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}
#bc .bottom {
  position: absolute;
  bottom: 0;
}
#bc .size-40 {
  width: 40%;
}
#bc .size-60 {
  width: 60%;
}
#bc .size-75 {
  width: 75%;
}
#bc .size-80 {
  width: 80%;
}
#bc .padding-left-30 {
  padding-left: 25px;
}
#bc .block {
  width: 100%;
  height: 100vh;
}
#bc .align-left {
  text-align: left;
}
#bc .align-center {
  text-align: center;
}
#bc .align-right {
  text-align: right;
}
#bc .f-size8 {
  font-size: 8px !important;
}
#bc .f-size9 {
  font-size: 9px !important;
}
#bc .f-size10 {
  font-size: 10px !important;
}
#bc .f-size11 {
  font-size: 11px !important;
}
#bc .f-size12 {
  font-size: 12px !important;
}
#bc .f-size13 {
  font-size: 13px !important;
}
#bc .f-size14 {
  font-size: 14px !important;
}
#bc .f-size15 {
  font-size: 15px !important;
}
#bc .f-size16 {
  font-size: 16px !important;
}
#bc .f-size17 {
  font-size: 17px !important;
}
#bc .f-size18 {
  font-size: 18px !important;
}
#bc .f-size19 {
  font-size: 19px !important;
}
#bc .f-size20 {
  font-size: 20px !important;
}
#bc .box-center {
  display: block !important;
  margin: 0 auto;
  float: none !important;
  padding: 0 10% !important;
}
#bc .left {
  float: left;
}
#bc .right {
  float: right;
}
#bc .pleft {
  left: 5%;
}
#bc .pright {
  right: 5%;
}
#bc .fixed {
  position: fixed !important;
  width: 100%;
  z-index: 100;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}
#bc .absolute {
  position: absolute;
  width: 196px;
}
#bc .absolute img {
  width: 100%;
}
#bc .absolute .text-avance {
  display: none;
}
#bc .link-section {
  width: 100%;
  position: relative;
  bottom: 10%;
  text-align: center;
  height: 10vh;
  float: left;
  display: table;
}
#bc .link {
  display: table-cell;
  vertical-align: middle;
}
#bc .link a {
  color: #c8135c;
}
#bc .link .arrow-link {
  display: inline-block;
  margin-bottom: -4px;
}
#bc .noall {
  height: 110px;
  margin-bottom: 9px;
}
#bc .more-detail {
  font-size: 10px;
  text-align: right;
  margin-bottom: 9px;
  padding: 0 10px;
  word-wrap: break-word;
  line-height: 1.4;
  color: #fecc0d;
  cursor: pointer;
}
#bc .img-vertical img {
  width: auto;
  height: 100%;
}
#bc .img-horizontal img {
  width: 100%;
  height: auto;
}
#bc #col1 {
  height: auto;
  float: left;
}
#bc #col2 {
  height: auto;
  float: left;
}
#bc #col3 {
  height: auto;
  float: left;
}
#bc #col4 {
  height: auto;
  float: left;
}
#bc .upper {
  text-transform: uppercase;
}
.sprite {
  background: url("sprite.png") no-repeat top left;
  width: 20px;
  height: 36px;
}
.sprite.arrow-left {
  background-position: 0 0;
  width: 61px;
  height: 61px;
}
.sprite.arrow-link {
  background-position: 0 -61px;
  width: 18px;
  height: 18px;
}
.sprite.arrow-right {
  background-position: 0 -79px;
  width: 61px;
  height: 61px;
}
.sprite.arrow-scroll {
  background-position: 0 -140px;
  width: 21px;
  height: 52px;
}
.sprite.comprar {
  background-position: 0 -192px;
  width: 110px;
  height: 35px;
}
.sprite.dots-home {
  background-position: 0 -227px;
  width: 3px;
  height: 701px;
}
.sprite.dots-section {
  background-position: 0 -928px;
  width: 3px;
  height: 701px;
}
.sprite.icon-accesorios {
  background-position: 0 -1629px;
  width: 30px;
}
.sprite.icon-accesorios-activo {
  background-position: 0 -1665px;
  width: 30px;
}
.sprite.icon-audio {
  background-position: 0 -1701px;
  width: 48px;
  height: 42px;
}
.sprite.icon-audio-activo {
  background-position: 0 -1743px;
  width: 93px;
  height: 42px;
}
.sprite.icon-blanca {
  background-position: 0 -1785px;
  width: 48px;
  height: 42px;
}
.sprite.icon-blanca-activo {
  background-position: 0 -1827px;
  width: 93px;
  height: 42px;
}
.sprite.icon-celu {
  background-position: 0 -1869px;
}
.sprite.icon-celu-activo {
  background-position: 0 -1905px;
}
.sprite.icon-cocina {
  background-position: 0 -1941px;
  width: 30px;
  height: 38px;
}
.sprite.icon-cocina-activo {
  background-position: 0 -1979px;
  width: 30px;
  height: 38px;
}
.sprite.icon-compu {
  background-position: 0 -2017px;
  width: 51px;
}
.sprite.icon-compu-activo {
  background-position: 0 -2053px;
  width: 51px;
}
.sprite.icon-full-hd {
  background-position: 0 -2089px;
  width: 44px;
  height: 30px;
}
.sprite.icon-full-hdactivo {
  background-position: 0 -2119px;
  width: 44px;
  height: 30px;
}
.sprite.icon-hd {
  background-position: 0 -2149px;
  width: 43px;
  height: 31px;
}
.sprite.icon-hd-activo {
  background-position: 0 -2180px;
  width: 43px;
  height: 31px;
}
.sprite.icon-ht {
  background-position: 0 -2211px;
  width: 34px;
}
.sprite.icon-ht-activo {
  background-position: 0 -2247px;
  width: 34px;
}
.sprite.icon-lavad {
  background-position: 0 -2283px;
  width: 26px;
  height: 38px;
}
.sprite.icon-lavad-activo {
  background-position: 0 -2321px;
  width: 26px;
  height: 38px;
}
.sprite.icon-microo {
  background-position: 0 -2359px;
  width: 44px;
  height: 38px;
}
.sprite.icon-microo-activo {
  background-position: 0 -2397px;
  width: 44px;
  height: 38px;
}
.sprite.icon-mini {
  background-position: 0 -2435px;
  width: 54px;
}
.sprite.icon-mini-activo {
  background-position: 0 -2471px;
  width: 54px;
}
.sprite.icon-oled {
  background-position: 0 -2507px;
  width: 42px;
  height: 30px;
}
.sprite.icon-oled-activo {
  background-position: 0 -2537px;
  width: 42px;
  height: 30px;
}
.sprite.icon-phone {
  background-position: 0 -2567px;
  width: 21px;
  height: 21px;
}
.sprite.icon-refri {
  background-position: 0 -2588px;
  height: 38px;
}
.sprite.icon-refri-activo {
  background-position: 0 -2626px;
  height: 38px;
}
.sprite.icon-sound {
  background-position: 0 -2664px;
  width: 28px;
}
.sprite.icon-super-hd {
  background-position: 0 -2700px;
  width: 43px;
  height: 30px;
}
.sprite.icon-super-hd-activo {
  background-position: 0 -2730px;
  width: 43px;
  height: 30px;
}
.sprite.icon-tecnologia {
  background-position: 0 -2760px;
  width: 48px;
  height: 42px;
}
.sprite.icon-tecnologia-activo {
  background-position: 0 -2802px;
  width: 116px;
  height: 42px;
}
.sprite.icon-tv {
  background-position: 0 -2844px;
  width: 48px;
  height: 42px;
}
.sprite.icon-tv-activo {
  background-position: 0 -2886px;
  width: 78px;
  height: 42px;
}
.sprite.icon-uhd {
  background-position: 0 -2928px;
  width: 38px;
  height: 30px;
}
.sprite.icon-uhd-activo {
  background-position: 0 -2958px;
  width: 38px;
  height: 30px;
}
@media screen and (max-width: 1600px) {
  #bc .slider {
    width: 1100px;
  }
}
@media screen and (max-width: 1440px) {
  #bc .slider {
    width: 900px;
  }
}
@media screen and (max-width: 1024px) {
  #bc #sponsor {
    width: 100%;
  }
  #bc #sponsor .slider-prev {
    left: 1%;
  }
  #bc #sponsor .slider-next {
    right: -2%;
  }
  #bc #sponsor-bc {
    width: 100%;
    background-position: 25% top;
  }
  #bc .container {
    width: 100%;
    overflow: hidden;
  }
  #bc .row {
    width: 100%;
  }
  #bc #slider-bc {
    width: 510px;
  }
  #bc .slider-banner {
    width: 100%;
  }
  #bc .banner {
    width: 100%;
  }
  #bc .calls {
    width: 100%;
  }
  #bc .notas {
    width: 100%;
    height: 20px;
  }
}
@media screen and (max-width: 992px) {
  #bc #container {
    width: 100%;
    max-width: 910px;
  }
  #bc #sponsor {
    margin: 0;
    background-image: url("../images/sponsor-tablet.jpg");
    background-position: center top;
    background-size: auto;
  }
  #bc #sponsor-bc {
    width: 100%;
    height: 252px;
  }
  #bc .banner-slider {
    width: 55%;
    height: 100%;
    margin-right: 17px;
  }
  #bc #slider-bc {
    width: 100%;
  }
  #bc .item {
    width: 100%;
  }
  #bc .banner {
    height: 294px;
  }
  #bc .slide {
    height: 294px;
  }
  #bc .menu {
    width: 100%;
    padding: 0;
  }
  #bc .menu6 li {
    width: 16.66%;
  }
  #bc .menu6 li .text {
    font-size: 12px;
  }
  #bc .menu7 li {
    width: 14%;
  }
  #bc .menu7 li .text {
    font-size: 12px;
  }
  #bc .menu8 li {
    width: 12.5%;
  }
  #bc .menu8 li .text {
    font-size: 12px;
  }
  #bc .menu9 li {
    width: 11.11%;
  }
  #bc .menu9 li .text {
    font-size: 11px;
  }
  #bc .menu10 li {
    width: 10%;
  }
  #bc .menu10 li .text {
    font-size: 11px;
  }
  #bc .menu11 li {
    width: 9.09%;
  }
  #bc .menu11 li .text {
    font-size: 10.5px;
  }
  #bc .menu12 li {
    width: 8.33%;
  }
  #bc .menu12 li .text {
    font-size: 10px;
  }
  #bc .menu13 li {
    width: 7.69%;
  }
  #bc .menu13 li .text {
    font-size: 9px;
  }
  #bc .image {
    width: 75%;
  }
  #bc .percent {
    font-size: 20px;
    width: 26px;
  }
  #bc .simbol {
    font-size: 12px;
    padding-bottom: 2px;
  }
  #bc .calls {
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    height: 294px;
  }
  #bc .calls::before {
    height: 280px !important;
  }
  #bc .calls::after {
    height: 280px !important;
    right: -10px;
  }
  #bc .collapse-movil #main-menu {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
  }
  #bc .collapse-movil .menu {
    top: 50px;
  }
  #bc #main-menu {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  #bc #main-menu li {
    margin-bottom: 0;
  }
  #bc #main-menu li a {
    width: 100%;
  }
  #bc .slick-dots {
    bottom: -10px;
  }
}
@media screen and (max-width: 768px) {
  #bc {
    overflow: hidden;
  }
  #bc #header-banner {
    height: auto;
  }
  #bc #home {
    height: 100vh;
    background-position: center;
  }
  #bc .call {
    width: 200px;
    background: none;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
  }
  #bc .scroll {
    top: 40%;
  }
  #bc .notes img {
    height: 65%;
    width: auto;
  }
  #bc .box-center {
    padding: 0 10% !important;
  }
  #bc #btn-mobile {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  #bc {
    margin-bottom: 0;
  }
  #bc #container {
    max-width: 690px;
  }
  #bc #sponsor {
    background-image: url("../images/sponsor-mobile.jpg");
    background-position: center top;
    background-size: auto 400px;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }
  #bc #sponsor-bc {
    padding-top: 0;
    width: 100%;
    height: 100%;
    max-height: 400px;
    position: relative;
  }
  #bc .banner-slider {
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    height: 50%;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 0;
  }
  #bc .banner-slider .slick-prev {
    left: 0;
    z-index: 10;
  }
  #bc .banner-slider .slick-right {
    right: 0;
    z-index: 10;
  }
  #bc .banner-slider .slick-prev,
  #bc .banner-slider .slick-next {
    top: 0;
    -webkit-transform: none;
            transform: none;
    height: 100%;
  }
  #bc .banner-slider .slick-prev:before,
  #bc .banner-slider .slick-next:before {
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
  }
  #bc #slider-bc {
    padding-top: 0px;
    height: 100%;
    width: 540px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #bc .item {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #bc .item a {
    height: 100%;
    width: auto;
    display: block;
  }
  #bc .item img {
    height: 100%;
    width: auto;
  }
  #bc .banner {
    padding-top: 0px;
    overflow: hidden;
  }
  #bc .slide {
    height: 294px;
  }
  #bc .slide .col-xs-12 {
    width: 50%;
  }
  #bc .calls .col-xs-12,
  #bc .calls .col-sm-12,
  #bc .calls .col-md-12,
  #bc .calls .col-lg-12,
  #bc .calls .col-xl-12 {
    padding: 0 !important;
  }
  #bc .logo-campaign {
    height: 50%;
  }
  #bc .logo-campaign a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  #bc .logo-campaign img {
    height: 100%;
    width: auto;
  }
  #bc .calls {
    height: 294px;
  }
  #bc .notas {
    padding: 12.5px 0 !important;
  }
  #bc .notes img {
    height: 55%;
    width: auto;
  }
  #bc .box-center {
    padding: 0 10% !important;
  }
  #bc #btn-mobile {
    display: block;
  }
  #bc .nav {
    float: left;
    background-color: transparent;
    height: 50px;
    margin-top: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #bc .category .text {
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
  #bc .category .text:after {
    display: none;
  }
  #bc .category .text br {
    display: none;
  }
  #bc .category.active::before {
    display: none;
  }
  #bc #main-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: left;
    clear: none;
    height: 100%;
  }
  #bc #main-menu li:last-child {
    margin: 0 auto;
    float: none;
  }
  #bc #main-menu li a {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    font-size: 3.5vw;
    text-align: center;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #bc #main-menu li:nth-child(20) {
    border-top: none;
    border-left: none;
  }
  #bc #main-menu li:nth-child(21) {
    border-left: none;
  }
  #bc #main-menu .slick-prev {
    width: 20px;
    height: 100%;
    left: 0;
  }
  #bc #main-menu .slick-prev::before {
    width: 20px;
    height: 100%;
    background-size: contain;
    background-position: left center;
  }
  #bc #main-menu .slick-next {
    width: 20px;
    height: 100%;
    right: 0;
  }
  #bc #main-menu .slick-next::before {
    width: 20px;
    height: 100%;
    background-size: contain;
    background-position: right center;
  }
  #bc .menu {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    clear: both;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: hidden;
    border-radius: 0;
    height: 50px;
    bottom: auto;
  }
  #bc .menu li {
    width: 50%;
  }
  #bc .menu li:nth-child(11),
  #bc .menu li:nth-child(12) {
    border-bottom: none;
  }
  #bc .menu li a {
    display: block;
    color: #000;
    height: auto;
  }
  #bc .menu li a .icon {
    display: none;
  }
  #bc .menu li:last-child {
    border-right: none;
  }
  #bc .menu4 li {
    width: 100%;
  }
  #bc .menu5 li {
    width: 100%;
  }
  #bc .menu6 li {
    width: 50%;
  }
  #bc .menu7 li {
    width: 50%;
  }
  #bc .menu7 li:first-child {
    width: 100%;
  }
  #bc .menu8 li {
    width: 50%;
  }
  #bc .menu9 li {
    width: 50%;
  }
  #bc .menu9 li:first-child {
    width: 100%;
  }
  #bc .menu10 li {
    width: 50%;
  }
  #bc .menu11 li {
    width: 50%;
  }
  #bc .menu11 li .text {
    font-size: 10.5px;
  }
  #bc .menu11 li:first-child {
    width: 100%;
  }
  #bc .menu12 li {
    width: 50%;
  }
  #bc .menu12 li .text {
    font-size: 10px;
  }
  #bc .menu13 li {
    width: 50%;
  }
  #bc .menu13 li .text {
    font-size: 9px;
  }
  #bc .menu13 li:first-child {
    width: 100%;
  }
  #bc .menu7,
  #bc .menu8,
  #bc .menu9,
  #bc .menu10,
  #bc .menu11,
  #bc .menu12,
  #bc .menu13 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #bc .menu7 li a,
  #bc .menu8 li a,
  #bc .menu9 li a,
  #bc .menu10 li a,
  #bc .menu11 li a,
  #bc .menu12 li a,
  #bc .menu13 li a {
    height: 100% !important;
  }
  #bc .collapse-movil.menu-white {
    background-color: #fff;
  }
  #bc .collapse-movil.menu-white .current-category {
    color: #000;
  }
  #bc .collapse-movil.menu-white .menu {
    border-top: 1px solid #000;
    background-color: #fff !important;
  }
  #bc .collapse-movil.menu-white .menu li {
    border-color: #000;
  }
  #bc .collapse-movil.menu-white .text {
    color: #000;
  }
  #bc .collapse-movil.menu-black {
    background-color: #000;
  }
  #bc .collapse-movil.menu-black .current-category {
    color: #fff;
  }
  #bc .collapse-movil.menu-black .menu {
    border-top: 1px solid #fff;
    background-color: #000 !important;
  }
  #bc .collapse-movil.menu-black .menu li {
    border-color: #fff;
  }
  #bc .collapse-movil.menu-black .text {
    color: #fff;
  }
  #bc .slick-dots {
    bottom: 5px;
  }
}
@media screen and (max-width: 640px) {
  #bc #container {
    max-width: 540px;
    margin: 0 auto;
  }
  #bc .logos {
    margin-bottom: 30px;
  }
  #bc .image {
    width: 72.5%;
  }
  #bc .image img {
    width: 100%;
    height: auto;
  }
  #bc .box-center {
    padding: 0 10% !important;
  }
}
@media only screen and (max-width: 600px) {
  #bc .banner-slider {
    width: 100%;
  }
  #bc #slider-bc {
    padding-top: 0px;
  }
  #bc .item img {
    height: 100%;
  }
  #bc .call-image {
    margin: 20px auto 30px;
  }
  #bc .image {
    width: 72.5%;
  }
  #bc .image img {
    width: 100%;
    height: auto;
  }
  #bc .description {
    width: 25%;
    margin-left: 2.5%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 540px) {
  #bc #container {
    max-width: 540px;
  }
}
@media screen and (max-width: 480px) {
  #bc #container {
    max-width: 450px;
  }
  #bc #header-banner {
    height: auto;
    overflow: auto;
  }
  #bc #sponsor {
    background-position: center top;
  }
  #bc #sponsor .slider-prev {
    left: 15px;
    top: 45%;
  }
  #bc #sponsor .slider-next {
    right: -17px;
    top: 45%;
  }
  #bc #sponsor-bc {
    height: 400px;
  }
  #bc .banner-slider {
    width: 100%;
    height: 50%;
  }
  #bc #slider-bc {
    width: 100%;
    overflow: initial;
  }
  #bc .call-image {
    margin: 20px auto 20px;
  }
  #bc .call {
    top: 60%;
    height: 35%;
  }
  #bc .logo-campaign img {
    height: 80%;
  }
  #bc .logo-desktop {
    display: none;
  }
  #bc .logo-mobile {
    display: block;
  }
  #bc .item a {
    height: auto;
    width: 100%;
  }
  #bc .item img {
    height: auto !important;
/* width 80% 
				display block
				margin 0 auto*/
  }
  #bc .slider-prev {
    left: 15px;
    top: 45%;
  }
  #bc .slider-next {
    right: -17px;
    top: 45%;
  }
  #bc .banner {
    width: 100%;
    height: 450px;
/* background-image url(../images/bg-banner.jpg) */
    overflow: initial;
    background-size: cover;
    background-position: center;
  }
  #bc .slide {
    padding-bottom: 10px;
    padding-bottom: 0;
    height: auto;
  }
  #bc .slide .col-xs-12 {
    width: 100%;
  }
  #bc .image {
    width: 62.5%;
    height: auto;
  }
  #bc .image img {
    width: 100%;
    height: auto;
  }
  #bc .calls {
/* background-image url(../images/logo-cybermonday-mobile.png) */
    background-repeat: no-repeat;
    background-position: center 55%;
    background-size: auto;
/* border 7.5px solid #d3dee4 */
    height: 440px;
  }
  #bc .slide-note {
    bottom: 3%;
  }
  #bc .logo-cyber img {
    width: 87.5%;
    height: auto;
    float: left;
  }
  #bc .current-category {
    font-size: 3.5vw;
  }
  #bc .notes {
    margin-bottom: 7.5px;
  }
  #bc .notes::after {
    display: none;
  }
  #bc .notes img {
    height: 90%;
    width: auto;
  }
  #bc .box-center {
    padding: 0 15% !important;
  }
  #bc #main-menu li {
    width: 100%;
    border-left: none;
    border-right: none;
  }
}
@media screen and (max-width: 414px) {
  #bc #container {
    max-width: 384px;
  }
  #bc .breadcrumb .circles {
    margin-top: 10px;
    clear: both;
  }
  #bc #products .slide {
    width: 100%;
  }
}
@media screen and (max-width: 384px) {
  #bc #container {
    max-width: 384px;
  }
  #bc .current-category {
    padding: 0 2.5%;
  }
}
@media screen and (max-width: 345px) {
  #bc #container {
    max-width: 345px;
  }
  #bc .breadcrumb .circles {
    margin-top: 10px;
    clear: both;
  }
  #bc .current-category {
    padding: 0 2.5%;
  }
}
@media screen and (max-width: 330px) {
  #bc #container {
    max-width: 330px;
  }
  #bc .breadcrumb .circles {
    margin-top: 10px;
    clear: both;
  }
  #bc .current-category {
    padding: 0 2.5%;
  }
  #bc .banner-slider .slick-prev {
    left: 0%;
  }
  #bc .banner-slider .slick-next {
    right: 0%;
  }
  #bc #slider-bc {
    width: 96%;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 290px) {
  #bc #container {
    max-width: 290px;
  }
  #bc .logos {
    margin-top: 25%;
  }
  #bc .contents {
    width: 100%;
    margin: 5% auto;
  }
  #bc .contents .thank {
    font-size: 6.5vw;
    height: 40px;
    padding-top: 17.5px;
  }
  #bc .contents .text {
    height: 85px;
  }
  #bc .item a {
    height: auto;
  }
  #bc .logo-campaign img {
    height: 85%;
  }
}
@-webkit-keyframes scrolling {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 25px;
  }
}
@-webkit-keyframes abefore {
  0% {
    left: -112px;
  }
  50% {
    left: -118px;
  }
  100% {
    left: -112px;
  }
}
@-webkit-keyframes scrolling {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 25px;
  }
}
@keyframes scrolling {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 25px;
  }
}
@-webkit-keyframes abefore {
  0% {
    left: -112px;
  }
  50% {
    left: -118px;
  }
  100% {
    left: -112px;
  }
}
@keyframes abefore {
  0% {
    left: -112px;
  }
  50% {
    left: -118px;
  }
  100% {
    left: -112px;
  }
}
